body {
    background-color: lightgrey;
}
.tacontact {
    width: 100%;
}

#sexypic {
    float:left;
    padding-left:2%;
    padding-right:2%;
}
p {
    padding-right:10%;
}
#images {
    background-color: whitesmoke;
    margin-left: 5%;
    width: 60%;
}
.portfolioimages{
    width: 350px;
    height:350px;
    padding-left: 5%;
    padding-top: 5%;
}
form {
    margin-left: 15%;
    margin-right: 10%;
    padding: 10px;
    max-width: 60%;
    background-color: white;
     
}

.icontent {
    background-color: whitesmoke;
}

.iheading { 
    background-color: whitesmoke;
}
